
<div class="container-fluid">
  <div class="row">
    <div class="col-1">
      <div class="left__block">

      </div>
    </div>
    <div class="col-11" style="flex-direction: column; display: flex">
      <ul>
        <li><a [routerLink]="['/admin', {outlets: {'nameNew': ['new']}}]">Create New</a></li>
        <li><a [routerLink]="['/admin', {outlets: {'nameView': ['view']}}]">List</a></li>
      </ul>
      <!--<router-outlet></router-outlet>-->
      <router-outlet name="nameNew"></router-outlet>
      <router-outlet name="nameView"></router-outlet>
        <!--<app-post></app-post>-->
        <!--<app-post-list></app-post-list>-->

    </div>
  </div>
</div>
