<div class="container">
  <div class="row">
    <div class="col">
      <p-card header="Advanced Card" subheader="Subheader" [style]="{width: '360px'}" styleClass="ui-card-shadow">
        <p-header>
          <img src="Card" src="assets/img/img_parallax.jpg">
        </p-header>
        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt!</div>
        <p-footer>
          <button pButton type="button" icon="pi pi-times" class="ui-button-secondary">dfdd</button>
        </p-footer>
      </p-card>
    </div>
  </div>
</div>
