:host{
    background: #bbbbbb;
}
.head__block{
    text-align: center;
    margin: 2em auto;
}
.subtitle__head, .subtitle__head{
    font-family: 'Raleway', sans-serif;
}.card__box_before{
     position: absolute;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
     background: rgba(1,1, 1, 0.5);
 }


.link__site{
    color: #00897b;
    position: absolute;
    bottom: 10px;
    left: 20px;
}
.item__block{
    margin-top: 2em;
}

.card__img{
    width: 100%;
    height: 230px;
    border-radius: 10px;
    object-fit: cover;
}
.card__body{
    position: absolute;
    top: 0;
    left: 0;
    padding: 1em;
}
.card__title{
    font-weight: 700;
    letter-spacing: 0.05em;
}

/*.card__box_before{*/
    /*position: absolute;*/
    /*top: 0;*/
    /*right: 0;*/
    /*bottom: 0;*/
    /*left: 0;*/
    /*background: rgba(1,1, 1, 0.5);*/
/*}*/
