<div class="container">
  <div class="row">
    <div class="col head__block">
      <h2 class="title__head">My resent works</h2>
      <p class="subtitle__head">Here are a few recent design projects. Want to see more? <a href="mailto:andriy410tolochkevitch@gmail.com">Email</a></p>
    </div>
  </div>
  <div class="row wrapper">
    <div class="col-lg-4 col-sm-12 item__block" *ngFor="let item of worksItem; let i = index" >
        <app-item>
          <img class="card__img" src="{{item.picture}}" alt="{{item.title}}">

          <!--<div class="card__body">-->
          <h5 class="card__title">{{item.title}}</h5>
          <ng-container card__box_before></ng-container>
          {{i}}
          <!--<p class="card__text">{{description}}</p>-->
          <!--<a href="{{address}}" class="btn link__site" target="_blank">{{title}}</a>-->
          <!--</div>-->

        </app-item>
    </div>
  </div>
</div>
