<form class="form-inline">
    <div class="form-group">
        <label for="search" class="bmd-label-floating">Search</label>
        <input type="search" name="search" class="form-control" id="search" #search="ngModel" [(ngModel)]="searchText">
    </div>
    <button class="btn btn-primary-modal btn__close" (click)="searchText='' "><i class="fas fa-times"></i></button>
</form>
<div class="container block__style">
    <div class="row">
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Picture</th>
                <th scope="col">Title</th>
                <th scope="col">Url</th>
                <th scope="col">Description</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <ng-container *ngFor="let item of works; index as i">
                <tr class="tr_table" scope="row" *ngIf="onSearch(item)">
                    <td>{{i+1}}</td>
                    <td><img class="img_p" src="{{item.picture}}" alt="{{item.title}}"></td>
                    <td>{{item.title}}</td>
                    <td>{{item.address_url}}</td>
                    <td>{{item.description}}</td>
                    <td>
                        <button class="btn primary" (click)="firebaseService.editWork(item)">

                            <a [routerLink]="['/admin', {outlets: {'nameNew': ['new']}}]">
                                <i class="fas fa-pencil-alt"></i>
                            </a>
                        </button>
                        <button class="btn primary" (click)="onDelete(item.$key)"><i class="far fa-trash-alt"></i></button>
                    </td>
                </tr>
            </ng-container>
            </tbody>
        </table>
    </div>


</div>
