:host{
    /*position: relative;*/
    height: 230px;
    width: 200px;
    font-family: 'Raleway', sans-serif;
    box-shadow: 0px 1px 9px -2px #000;
    overflow: hidden;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    /*line-height: 24px;*/
}
.link__site{
    color: #00897b;
    position: absolute;
    bottom: 10px;
    left: 20px;
}
.item__block{
    margin-top: 2em;
}

.card__img{
    width: 100%;
    height: 230px;
    border-radius: 10px;
    object-fit: cover;
}
.card__body{
    position: absolute;
    top: 0;
    left: 0;
    padding: 1em;
}
.card__title{
    font-weight: 700;
    letter-spacing: 0.05em;
}

.overlay{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background: rgba(1,1, 1, 0.5);
    display: flex;
}
