@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Raleway');
.nav-color{
  background-color: #37474F;
  color: #fff;
  font-family: 'Raleway', sans-serif;
}
.nav a{
  text-transform: uppercase;
}
.wrapper{
  width: 100%;
  justify-content: center;
}
.nav-link:hover{
  color: #fff !important;
}