<p>hi</p>
<form #postForm="ngForm" (ngSubmit)="onSubmit(postForm)" action="">
    <input type="hidden" name="$key" #$key="ngModel" [(ngModel)]="FirebaseService.$id">
    <div class="form-group">
        <label for="title" class="bmd-label-floating"></label>
        <input type="text" name="title" class="form-control" id="title"
               [(ngModel)]="FirebaseService.title"
               #title="ngModel"
               required>
    </div>
    <div class="form-group">
        <label for="descr" class="bmd-label-floating"></label>
        <input type="text" name="description" class="form-control" id="descr"
               [(ngModel)]="FirebaseService.description"
               #description="ngModel"
               required>
    </div>
    <div class="form-group">
        <label for="url" class="bmd-label-floating"></label>
        <input type="url" name="url" class="form-control" id="url"
               [(ngModel)]="FirebaseService.address_url"
               #url="ngModel"
               required>
    </div>
    <div class="form-group">
        <label for="img" class="bmd-label-floating"></label>
        <input type="text" name="img" class="form-control" id="img"
               [(ngModel)]="FirebaseService.img"
               #img="ngModel"
               required>
    </div>
</form>