<div class="parallax"></div>
<section class="about__me">
    <app-slider-c [container]="containerType" [countSlide]="countSlide"></app-slider-c>
</section>
<section id="work-step" class="black-s">
    <div class="black-s-wrapper">
        <div class="title-s text-center">
            <h2>Work</h2>
        </div>
        <div class="container work-content flex-r0">
            <div class="col-lg-3 col-md-3 col-sm-12 work-item ">
                <figure>
                    <span><i class="far fa-comments"></i></span>
                    <figcaption>
                        <h3>Discussion</h3>
                        <p>The basis of the application being created? The main tasks of the site? The target audience?
                            What results do you want to get with it? The main theme? Answers to these and other questions determine what our product will be.</p>
                    </figcaption>
                </figure>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 work-item animated">
                <figure>
                    <span><i class="far fa-file-alt"></i></span>
                    <figcaption>
                        <h3>Concept creation</h3>
                        <p>Where is it more convenient to place the design elements of the site? How to make navigation as easy and convenient as possible? How to achieve maximum usability.
                            Solving these issues leads to the appearance of several design options.
                        </p>
                    </figcaption>
                </figure>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 work-item animated">
                <figure>
                    <span><i class="fab fa-free-code-camp"></i></span>
                    <figcaption>
                        <h3>Development</h3>
                        <p>Wow! This is the most desperate stage. On which code, pedal, program, saw the code, swear happens ...
                            As a result, we get a beautiful, cross-browser, adaptive, fast user-friendly site.</p>
                    </figcaption>
                </figure>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 work-item animated">
                <figure>
                    <span><i class="far fa-thumbs-up"></i></span>
                    <figcaption>
                        <h3>Satisfied customer</h3>
                        <p>It remains only to enjoy the result. To fill the client with thematic content a resource for further prosperity and promotion of his business in the network.</p>
                    </figcaption>
                </figure>
            </div>
        </div>
    </div>
</section>
